    <div class="container-fluid">
        <div class="row" id="main-nav">
            <div class="col-6">
                <a id="header-text-main" href="{{ path('main')}}">Магазин</a>
            </div>
            <div class="col" id="nav-link">
                <a id="header-text-main-link" href="{{ path('reg')}}">Регистрация</a>
                <a id="header-text-main-link" href="#">Вход</a>
            </div>
            <div class="col">
                <a id="header-text-main-link" href="{{ path('Basket')}}">Корзина</a>
                <a id="header-text-main-link" href="/admin">АдминПанель</a>
            </div>
        </div>
    </div>
