{% extends "base.html.twig"%}
    {% block header%}
        {% include "/Main/Header.html" %}
    {% endblock %}
{% block body%}
    <h2 class="Label-page">АдминПанель</h2>
    <h1>{{ number }}</h1>
{% endblock %}